src/META-INF/wsdl/localhost_8080/calcws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadoraws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculadoraws/" name="CalculadoraWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculadoraws/" schemaLocation="http://localhost:8080/calcws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getSoma">
<part name="parameters" element="tns:getSoma"></part>
</message>
<message name="getSomaResponse">
<part name="parameters" element="tns:getSomaResponse"></part>
</message>
<message name="getSubtrair">
<part name="parameters" element="tns:getSubtrair"></part>
</message>
<message name="getSubtrairResponse">
<part name="parameters" element="tns:getSubtrairResponse"></part>
</message>
<message name="getMultiplica">
<part name="parameters" element="tns:getMultiplica"></part>
</message>
<message name="getMultiplicaResponse">
<part name="parameters" element="tns:getMultiplicaResponse"></part>
</message>
<message name="getDivide">
<part name="parameters" element="tns:getDivide"></part>
</message>
<message name="getDivideResponse">
<part name="parameters" element="tns:getDivideResponse"></part>
</message>
<portType name="CalculadoraWS">
<operation name="getSoma">
<input wsam:Action="http://calculadoraws/CalculadoraWS/getSomaRequest" message="tns:getSoma"></input>
<output wsam:Action="http://calculadoraws/CalculadoraWS/getSomaResponse" message="tns:getSomaResponse"></output>
</operation>
<operation name="getSubtrair">
<input wsam:Action="http://calculadoraws/CalculadoraWS/getSubtrairRequest" message="tns:getSubtrair"></input>
<output wsam:Action="http://calculadoraws/CalculadoraWS/getSubtrairResponse" message="tns:getSubtrairResponse"></output>
</operation>
<operation name="getMultiplica">
<input wsam:Action="http://calculadoraws/CalculadoraWS/getMultiplicaRequest" message="tns:getMultiplica"></input>
<output wsam:Action="http://calculadoraws/CalculadoraWS/getMultiplicaResponse" message="tns:getMultiplicaResponse"></output>
</operation>
<operation name="getDivide">
<input wsam:Action="http://calculadoraws/CalculadoraWS/getDivideRequest" message="tns:getDivide"></input>
<output wsam:Action="http://calculadoraws/CalculadoraWS/getDivideResponse" message="tns:getDivideResponse"></output>
</operation>
</portType>
<binding name="CalculadoraWSPortBinding" type="tns:CalculadoraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getSoma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubtrair">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getMultiplica">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDivide">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraWSService">
<port name="CalculadoraWSPort" binding="tns:CalculadoraWSPortBinding">
<soap:address location="http://localhost:8080/calcws"></soap:address>
</port>
</service>
</definitions>